@charset "utf-8";

.l-footer {
  margin-top: 30px;

  &__fb {
  }
  &__logo {
    margin-bottom: 20px;
    text-align: center;
    img {
      width: 267px;
      height: auto;
    }
  }
  &__link {
    @extend %clearfix;
    background: #f0f7fa;
    border-top: 1px solid #a0d9f6;

    li {
      float: left;
      width: 50%;
      padding: 10px;
      border-bottom: 1px solid #a0d9f6;
      border-right: 1px solid #a0d9f6;
      font-size: 12px;

      &:nth-child(2n) {
        border-right: 0;
      }
    }
  }
}

















