@charset "utf-8";

.l-header {
  @extend %clearfix;
  padding-top: 10px;
  background: $color-main-blue;

  &__logo {
    width: 200px;
    height: auto;
    margin: 0 auto 10px auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__navi {
    padding: 5px 0;
    border-top: 1px solid #fff;
    text-align: center;

    a {
      color: #fff;
    }
    li {
      display: inline-block;
      margin-left: 5px;
      font-size: 12px;
    }
    .fbIcon {
      display: inline-block;
      width: 25px;
      border-radius: 50%;
      overflow: hidden;
      vertical-align: middle;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

