@charset "utf-8";

.l-header {
  @extend %clearfix;
  padding: 10px 0;

  &__logo {
    width: 200px;
    height: auto;
    margin: 10px auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__navi {
    padding: 5px 0;
    border-top: 1px solid #a0d9f6;
    border-bottom: 1px solid #a0d9f6;
    text-align: center;

    li {
      display: inline-block;
      margin-left: 5px;
      font-size: 12px;
    }
    .fbIcon {
      display: inline-block;
      width: 25px;
      border-radius: 50%;
      overflow: hidden;
      vertical-align: middle;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

