@charset "utf-8";


// ==========================================================================
// color
// ==========================================================================

// サイトイメージカラー
$color-main-blue: #0d3474; // 青
$color-sub-red: #b30303; // 赤

// 背景色
$bg-color-blue: #f0f7fa; // 薄い青
$bg-color-gray: #f8f8f8; // 薄い灰色


// テキスト
$text-color: #333;

// リンク
$link-color: #333;


// タイトル
$ttl-color-01: #333333; // 記事タイトル
$ttl-color-03: #4972b6; // h3 薄い青

// アイコンの色
$icn-arrow-01: #ffffff; // 白
$icn-arrow-02: #b30303; // 赤

// ボーダーカラー
$boder-color-01: #c2c2c2; // 灰色


// ==========================================================================
// mixin
// ==========================================================================
@mixin inline_block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
@mixin image {
  width: 100%;
  height: auto;
}

// ==========================================================================
// extend Placeholder Selector
// ==========================================================================
%clearfix {
	zoom:1;

  &:after {
    content:" ";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
  }
}

%font-12 {
  font-size: 1.2rem;
}
%font-14 {
  font-size: 1.4rem;
}
%font-16 {
  font-size: 1.6rem;
}
%font-18 {
  font-size: 1.8rem;
}
%font-20 {
  font-size: 2.0rem;
}
%font-24 {
  font-size: 2.4rem;
}
%font-32 {
  font-size: 3.2rem;
}
%font-40 {
  font-size: 4.0rem;
}
%font-46 {
  font-size: 4.6rem;
}

