@charset "utf-8";

a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all  0.5s ease;
}

.c-btn {
  text-align: center;

  a, button {
    display: inline-block;
    border-radius: 5px;
    letter-spacing: 1px;
  }
}

// 背景白の赤い矢印のボタン 矢印あり
.c-btn--Style1 {

  a {
    position: relative;
    background: #ffffff;
    padding: 5px 30px;
    border: 1px solid #c2c2c2;
    color: #333333;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 10px;
      height: 0;
      width: 0;
      margin: auto 0;
      border: 5px transparent solid;
      border-top-width: 3px;
      border-bottom-width: 3px;
      border-right-width: 0;
      border-left-color: $color-sub-red;
    }
  }
}
// 背景青のボタン 矢印あり
.c-btn--Style2 {
  text-align: center;

  a, button {
    position: relative;
    background: $color-main-blue;
    padding: 5px 40px;
    color: #ffffff;
    border: none;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 10px;
      height: 0;
      width: 0;
      margin: auto 0;
      border: 5px transparent solid;
      border-top-width: 3px;
      border-bottom-width: 3px;
      border-right-width: 0;
      border-left-color: #ffffff;
    }
  }
}

// 背景青のボタン 矢印無し
.c-btn--Style3 {
  text-align: center;

  a {
    position: relative;
    background: #2c4388;
    padding: 5px 40px;
    color: #ffffff;
  }
  .icon-icn_fb {
    padding-right: 5px;
  }
}
