@charset "utf-8";

// ==========================================================================
// 共通
// ==========================================================================

.c-box {
  margin-bottom: 50px;
}


// ==========================================================================
// 矢印アイコン
// ==========================================================================

.icn_arrow {
  margin-right: 5px;

  &:before {
    content: '';
    display: inline-block;
    height: 0;
    width: 0;
    border: 3px transparent solid;
    border-right-width: 0;
  }
}

// 白い矢印
.icn_arrow-1 {

  &:before {
    border-left-color: $icn-arrow-01;
  }
}
.icn_arrow-2 {

  &:before {
    border-left-color: $icn-arrow-02;
  }
}

.icn_color-1 { color: $color-main-blue; }

// ==========================================================================
// テーブル
// ==========================================================================

.c-table {

  width: 100%;
  margin-bottom: 30px;
  border-top: 1px solid #a0d9f6;

  th {
    padding: 10px;
    width: 25%;
    border-bottom: 1px solid #a0d9f6;
    background: #f0f7fa;
    vertical-align: middle;
  }
  td {
    padding: 10px;
    border-bottom: 1px solid #a0d9f6;
  }
  a {
    text-decoration: none;
    color: #bd4245;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }
}



@media only screen and (max-width: 1240px) {
}

@media only screen and (max-width: 1030px) {
}

@media only screen and (max-width: 768px) {
}


@media only screen and (max-width: 481px) {
}



