@charset "utf-8";

// ==========================================================================
// 共通
// ==========================================================================

.c-box {
  margin-bottom: 50px;
}
.textLink {
  a {
    color: $link-color;
  }
}

// ==========================================================================
// 矢印アイコン
// ==========================================================================

.icn_arrow {
  margin-right: 5px;

  &:before {
    content: '';
    display: inline-block;
    height: 0;
    width: 0;
    border: 3px transparent solid;
    border-right-width: 0;
  }
}

// 白い三角矢印
.icn_arrow-1 {

  &:before {
    border-left-color: #ffffff;
  }
}
// 赤い三角矢印
.icn_arrow-2 {

  &:before {
    border-left-color: $color-sub-red;
  }
}
// 青い三角矢印
.icn_arrow-3 {

  &:before {
    border-left-color: $color-main-blue;
  }
}

.icn_color-1 { color: $color-main-blue; }

// ==========================================================================
// テーブル
// ==========================================================================

.c-table {

  width: 100%;
  margin-bottom: 30px;
  border-top: 1px solid $boder-color-01;

  th {
    padding: 10px;
    width: 25%;
    border-bottom: 1px solid $boder-color-01;
    background: $bg-color-gray;
    vertical-align: middle;
  }
  td {
    padding: 10px;
    border-bottom: 1px solid $boder-color-01;
  }
  a {
    text-decoration: none;
    color: #bd4245;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }
}
