@charset "utf-8";

// ==========================================================================
// 画像のリスト
// ==========================================================================

// -----------------------------------------------------------------
// TOP用 投稿一件目
// -----------------------------------------------------------------

.c-topBox {
  position: relative;
  width: 650px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;

  &:hover {
    opacity: 0.7;
  }

  &__img {

    img {
      border: 1px solid #f5ebc3;
      border-radius: 2px;
      padding: 3px;
      width: 100%;
      height: auto;
    }
  }
  &__body {
    position: absolute;
    bottom: 0;
    height: 140px;
    width: 100%;
    padding: 20px ;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .body {

    &__date {
      font-size: 12px;
    }
    &__title {
      font-size: 20px;
    }
    &__category {
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: 12px;
    }
  }
}

// -----------------------------------------------------------------
// TOP用
// -----------------------------------------------------------------

.c-listBox {
  margin: 0 0 5px 0;
  padding: 8px 5px 1px 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;

  &:hover {
    background-color: #f7f2de;
    border-radius: 5px;
    opacity: 0.8;
  }
  &__left {
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 200px;

    img {
      border: 1px solid #f5ebc3;
      border-radius: 2px;
      padding: 3px;
      width: 100%;
      height: auto;
    }
  }
  &__right {
    position: relative;
    margin-left: 210px;
    min-height: 200px;
  }
  .right {
    &__title {
      font-size: 20px;
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 10px;
    }
    &__footer {
      @extend %clearfix;
      position: absolute;
      bottom: 0;
      width: 100%;
      font-size: 12px;
    }
    &__category {
      float: left;
      font-size: 12px;
    }
    &__date {
      float: right;
      width: 100px;
      color: #877467;
    }
  }
}


// -----------------------------------------------------------------
// サイドバー用
// -----------------------------------------------------------------

.c-listBox--type1 {
  margin: 0;

  .c-listBox {

    &__left {
      width: 100px;
      height: 100px;
    }
    &__right {
      margin-left: 110px;
      min-height: 100px;

      .right {
        &__title {
          font-size: 14px;
        }
        &__date {
          font-size: 12px;
        }
      }
    }
  }
}

// -----------------------------------------------------------------
// 記事下用
// -----------------------------------------------------------------
.c-listBox--type2 {
  margin: 0;
  border-bottom: 1px dotted #eae8da;

  .c-listBox {

    &__left {
      width: 100px;
      height: 100px;
    }
    &__right {
      margin-left: 110px;
      min-height: 100px;

      .right {
        &__title {
          font-size: 20px;
        }
        &__footer {
        }
        &__category {

          a {
            font-size: 13px;
          }
        }
        &__date {
          font-size: 12px;
        }
      }
    }
  }
}



@media only screen and (max-width: 1240px) {
}

@media only screen and (max-width: 1030px) {
}

@media only screen and (max-width: 768px) {
}


@media only screen and (max-width: 481px) {

  .c-topBox {
    width: 100%;
    margin-bottom: 10px;

    &__body {
      height: 100px;
      width: 100%;
      padding: 10px;
    }
    .body {

      &__date {
        font-size: 10px;
      }
      &__title {
        font-size: 12px;
      }
      &__category {
        font-size: 10px;
      }
    }
  }

  .c-listBox {
    margin: 0 0 5px 0;
    padding: 8px 5px 1px 5px;

    &__left {
      width: 100px;
      height: 100px;

    }
    &__right {
      margin-left: 110px;
      min-height: 100px;
    }
    .right {
      &__title {
        font-size: 14px;
        margin-bottom: 10px;
      }
      &__text {
        display: none;
      }
      &__category {
        font-size: 10px;
      }
    }
  }

  .c-listBox--type2 {

    .c-listBox {

      &__right {

        .right {
          &__title {
            font-size: 14px;
          }
          &__footer {
          }
          &__category {

            a {
              font-size: 13px;
            }
          }
          &__date {
            font-size: 12px;
          }
        }
      }
    }
  }
}



