@charset "utf-8";

.event {
  margin-top: 30px;
}
.eventHeader {

  &__ttl {
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 30px;
  }
  &__info {
    @extend %clearfix;
    margin-bottom: 20px;
    padding: 10px;
    background: #f0f7fa;

    .map {
      float: left;
      width: 640px;
      margin-top: 8px;
      font-size: 22px;

      .icon-icn_map {
        font-size: 22px;
      }
    }
    .fbBtn {
      float: right;
      width: 260px;
    }
  }
}
.eventBody {
  @extend %clearfix;

  &__left {
    float: left;
    width: 640px;

    .main {
      margin-bottom: 50px;
      width: 640px;
      height: 425px;

      img {
        width: 100%;
        height: auto;
      }
    }
    .imgbox {
      margin-bottom: 20px;
      width: 640px;
      height: 425px;

      img {
        width: 100%;
        height: auto;
      }
    }
    .text {
      margin-bottom: 10px;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
  &__right {
    float: right;
    width: 300px;
  }
}


// メンバー
.memberList {
  padding-left: 20px;
  li {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__img {
    width: 110px;
    height: 110px;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__name {
    text-align: center;
  }
  &__btn {
    margin: 10px 0;
    text-align: right;
  }
}

// レビュー
.reviewStar {
  margin-bottom: 30px;
  border-bottom: 1px dotted #e5e5e5;
  text-align: center;
  font-size: 24px;

  .number {
    margin-right: 5px;
  }
  .icon-icn_star, .icon-icn_star_white {
    margin-right: 3px;
  }
}
.reviewBox {
  @extend %clearfix;
  margin-bottom: 30px;
  border-bottom: 1px dotted #e5e5e5;

  &__header {
    position: relative;
    margin-bottom: 10px;

    .left {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
    .right {
      margin-left: 60px;
      .icon-icn_star, .icon-icn_star_white {
        margin-right: 3px;
        font-size: 17px;
      }
      .ttl {
        margin-bottom: 5px;
        font-size: 18px;
      }
    }
  }
  &__body {
    p {
      margin-bottom: 10px;
    }
  }
  &__info {
    font-size: 12px;
    text-align: right;
  }
}

// .reviewBox {
//   @extend %clearfix;
//   margin-bottom: 30px;
//   border-bottom: 1px dotted #e5e5e5;
//
//   &__left {
//     float: left;
//     width: 80px;
//     height: 80px;
//     border-radius: 10px;
//     overflow: hidden;
//
//     img {
//       width: 100%;
//       height: auto;
//     }
//   }
//   &__right {
//     float: right;
//     width: 535px;
//   }
//   .reviewBody {
//     &__ttl {
//       font-size: 20px;
//       margin-bottom: 10px;
//
//       .icon-icn_star, .icon-icn_star_white {
//         margin-right: 3px;
//         font-size: 16px;
//       }
//     }
//     &__body {
//     }
//     &__info {
//       font-size: 14px;
//       text-align: right;
//     }
//   }
// }

// サイド 日程
.reservationBox {
  @extend %clearfix;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #a0d9f6;

  &__left {
    float: left;
    width: 190px;
    border-right: 1px solid #a0d9f6;

    .date {
      font-size: 20px;
      text-align: center;
      line-height: 1.2;
    }
    .time {
      font-size: 14px;
      text-align: center;
    }
  }
  &__right {
    float: right;
    width: 110px;
    text-align: center;

    .ttl {
      margin-top: 10px;
      font-size: 14px;
    }
    .participant {
      a {
        color: #397fd6;
      }

      &__number {
        font-size: 23px;
      }
    }
  }
}
// ご相談
.consultationBox {

  &__ttl {
    font-size: 20px;
  }
}


















