@charset "utf-8";

.event {
  margin-top: 30px;
}
.eventHeader {

  &__ttl {
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 30px;
  }
  &__info {
    @extend %clearfix;
    margin-bottom: 20px;
    padding: 10px;
    background: #f0f7fa;

    .map {
      float: left;
      width: 640px;
      margin-top: 8px;
      font-size: 22px;

      .icon-icn_map {
        font-size: 22px;
      }
    }
    .fbBtn {
      float: right;
      width: 260px;
    }
  }
}
.eventBody {
  @extend %clearfix;

  &__left {
    float: left;
    width: 640px;

    .main {
      margin-bottom: 50px;
      width: 640px;
      height: 425px;

      img {
        width: 100%;
        height: auto;
      }
    }
    .imgbox {
      margin-bottom: 20px;
      width: 640px;
      height: 425px;

      img {
        width: 100%;
        height: auto;
      }
    }
    p {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
  &__right {
    float: right;
    width: 300px;
  }
}



.memberList {
  padding-left: 20px;
  li {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__img {
    width: 110px;
    height: 110px;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__name {
    text-align: center;
  }
  &__btn {
    margin: 10px 0;
    text-align: right;
  }
}























