@charset "utf-8";

.event {
  margin-top: 30px;
}
.eventHeader {

  &__ttl {
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 30px;
  }
  &__info {
    @extend %clearfix;
    margin-bottom: 20px;
    padding: 10px;
    background: $bg-color-gray;

    li {
      display: inline-block;
      margin-right: 10px;

      span {
        display: inline-block;
        width: 20px;
        text-align: center;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.eventBody {
  @extend %clearfix;

  &__left {
    float: left;
    width: 640px;

    .imgbox {
      margin-bottom: 10px;
      width: 640px;

      img {
        border-radius: 5px;
        width: 100%;
        height: auto;
      }
    }
    .text {
      margin-bottom: 10px;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
  &__right {
    float: right;
    width: 300px;
  }
}


// メンバー
.memberList {
  @extend %clearfix;

  li {
    float: left;
    width: 110px;
    margin-right: 22px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
  &__img {
    width: 110px;
    height: 110px;
    border-radius: 5px;
    overflow: hidden;

    img {
      @include image;
    }
  }
  &__btn {
    margin: 10px 0;
    text-align: right;
  }
}
// 一日の流れ
.oneDayFlow {
  @extend %clearfix;

  li {
    float: left;
    width: 310px;
    margin: 0 20px 20px 0;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  &__ttl {
    @extend %font-16;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px 0;
    background: $bg-color-gray;
    border-radius: 0 0 5px 5px;

    span {
      margin-right: 10px;
      color: $color-main-blue;
      letter-spacing: 2px;
    }
  }
  &__img {
    img {
      @include image;
      border-radius: 5px 5px 0 0;
    }
  }
}
// レビュー
.reviewStar {
  @extend %font-20;
  margin-bottom: 30px;
  padding-bottom: 3px;
  border-bottom: 1px dotted #e5e5e5;
  text-align: center;

  .number {
    margin-right: 5px;
  }
  .starBig {
    display: inline-block;
    width: 164px;

    img {
      @include image;
      vertical-align: top;
    }
  }
}
.reviewBox {
  @extend %clearfix;
  margin-bottom: 30px;
  border-bottom: 1px dotted #e5e5e5;

  &__header {
    position: relative;
    margin-bottom: 10px;

    .left {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      overflow: hidden;

      img {
        @include image;
      }
    }
    .right {
      margin-left: 60px;

      .starSmall {
        width: 80px;
        img {
          @include image;
        }
      }
      .ttl {
        margin-bottom: 5px;
        font-size: 18px;
      }
    }
  }
  &__body {
    p {
      margin-bottom: 10px;
    }
  }
  &__info {
    font-size: 12px;
    text-align: right;
  }
}

// サイド 日程
.reservationttl {
  text-align: center;
}

#modal {
  .reservationBox__left {
    width: 350px;
  }
  .reservationBox__right {
    width: 150px;
  }
}
.reservationBox {
  @extend %clearfix;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $boder-color-01;

  &__left {
    position: relative;
    float: left;
    width: 190px;
    padding-right: 10px;
    border-right: 1px solid $boder-color-01;
    text-align: center;

    .date {
      @extend %font-20;
      line-height: 1.2;
    }
    .time {
      @extend %font-14;
    }
    a {
      width: 100%;
    }
  }
  &__right {
    float: right;
    width: 110px;
    text-align: center;

    .ttl {
      @extend %font-14;
      margin-top: 10px;
      text-align: center;
    }
    .participant {
      a {
        color: $color-main-blue;
      }

      &__number {
        @extend %font-24;
      }
    }
  }
}
// その他ボタン
.consultationBox {
  a {
    width: 100%;
    margin-bottom: 10px;
  }
}

// フォトギャラリー
#photoGallary {
  width: 640px;
  margin-bottom: 20px;
  background: $bg-color-gray;
  border-radius: 5px;
  overflow: hidden;
}
// メイン
.mainBox {
  position: relative;
  width: 640px;
  overflow: hidden;

  .main {
    display: table;
    table-layout: fixed;
    width: 900%;
    height: 480px;
    transform: translateX(0);
  }
  .mainItem {
    display: table-cell;
    height: 480px;
    vertical-align: middle;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    a {
      @extend %font-20;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      line-height: 30px;
      text-align: center;
      vertical-align: middle;
    }
    span {
      color: #397fd6;
    }
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }
}

.isTransition {
  transition: transform 500ms ease-in;
}
// サムネイル
.thumbnailsBox {
  $imageLength: 9;
  $naviWidth: 5%;
  $pageSize: 5;

  position: relative;
  width: 640px;
  padding: 2px 0;
  overflow: hidden;
  background: $bg-color-gray;

  .thumbnails {
    display: table;
    table-layout: fixed;
    margin-left: $naviWidth;
    width: (100% - 2 * $naviWidth) / $pageSize * $imageLength;
    transform: translateX(0);
  }
  .thumbnailsItem {
    display: table-cell;
    padding: 3px;
    height: 75px;
    text-align: center;
    cursor: pointer;
    border: 1px solid $bg-color-blue;
    .inner {
      height: 100%;
      background-size: cover;
      background-position: center center;
    }
  }
  .current {
    border: 1px solid $color-main-blue;
  }
  .prev, .next {
    position: absolute;
    top: 0;
    width: $naviWidth;
    height: 100%;
    padding-top: 2px;
    text-align: center;
    background: $bg-color-blue;
    a {
      width: 100%;
      display: inline-block;
      font-size: 18px;
      line-height: 75px;
    }
    span {
      color: $color-sub-red;
    }
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
}

#eventAction {
  width: 300px;
}














