@charset "utf-8";

// メインカルーセル
.topMainArea {
  position: relative;
  text-align: center;

  &__text {
    @extend %font-16;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 75px;
    z-index: 1;
    color: #fff;
    letter-spacing: 2px;

    span {
      display: block;
      @extend %font-12;
      letter-spacing: 2px;
    }
  }
}

// uminecoの遊び方
.aboutBox {
  position: relative;
  top: -22px;
  padding: 20px 0;
  background: $bg-color-gray;

  &__ttl {
    margin-bottom: 20px;
    text-align: center;
    img {
      width: 230px;
      height: auto;
    }
  }
  &__point {
    margin-bottom: 20px;
    text-align: center;

    li {
      display: inline-block;
      padding: 0 5px;
      width: 30%;

      &:last-child {
        margin-right: 0;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// 画像リスト

.c-imglistBox {
  margin-bottom: 5px;

  &:nth-child(2n) {
    margin-right: 0;
  }
  img {
    @include image;
  }
  &__header {
    position: relative;
    overflow: hidden;


    .headerInner {
      display: table;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px;
      background: rgba(0, 0, 0, 0.6);
      table-layout: fixed;

      .ttl {
        @extend %font-16;
        display: table-cell;
        color: #fff;
        vertical-align: middle;

      }
      .fbIcom {
        display: table-cell;
        width: 60px;
        img {
          width: 50px;
          height: auto;
        }
      }
    }
  }
  &__footer {
    position: relative;
    background: $bg-color-gray;
    min-height: 45px;

    .textMap {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #333333;
    }
    .textReview {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #333333;
    }
    .ship {
      padding: 40px 0 10px 10px;
      color: #333333;
    }
    span {
      @extend %font-18;
      display: inline-block;
      width: 20px;
      margin-right: 3px;
      text-align: center;
      vertical-align: middle;
    }
  }
}

