@charset "utf-8";

.event {
  position: relative;
  margin-top: 20px;
  padding-bottom: 30px;
}
.eventHeader {

  &__ttl {
    margin: 0 5px 10px 5px;
    line-height: 1.2;
    font-size: 20px;
  }
  &__info {
    @extend %clearfix;
    padding: 10px;
    background: $bg-color-gray;

    li {
      @extend %font-12;

      span {
        display: inline-block;
        width: 20px;
        text-align: center;
      }
    }
  }
}
.eventBody {
  @extend %clearfix;

  &__main {

    .imgbox {
      margin-bottom: 10px;

      img {
        width: 100%;
        height: auto;
      }
    }
    p {
      margin-bottom: 10px;
      font-size: 14px;
    }
    // youtube のスマホ対応
    .video {
      position: relative;
      height: 0;
      padding: 30px 0 56.25%;
      overflow: hidden;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__right {
    float: right;
    width: 300px;
  }
}


// メンバー
.memberList {
  display: table;
  table-layout: fixed;

  li {
    display: table-cell;
    width: 20%;
    padding: 0 2%;
  }
  &__img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__name {
    text-align: center;
    font-size: 12px;
  }
  &__btn {
    margin: 10px 0;
    text-align: right;
    font-size: 12px;
  }
}

// 一日の流れ
.oneDayFlow {

  li {
    margin-bottom: 20px;
  }
  &__ttl {
    @extend %font-16;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px 0;
    background: $bg-color-gray;
    border-radius: 0 0 5px 5px;

    span {
      margin-right: 10px;
      color: $color-main-blue;
      letter-spacing: 2px;
    }
  }
  &__img {
    img {
      @include image;
      border-radius: 5px 5px 0 0;
    }
  }
}

// レビュー
.reviewStar {
  margin-bottom: 30px;
  border-bottom: 1px dotted #e5e5e5;
  text-align: center;
  font-size: 20px;

  .number {
    margin-right: 5px;
  }
  .starBig {
    display: inline-block;
    width: 150px;

    img {
      @include image;
      vertical-align: top;
    }
  }
}
.reviewBox {
  @extend %clearfix;
  margin-bottom: 30px;
  border-bottom: 1px dotted #e5e5e5;

  &__header {
    position: relative;
    margin-bottom: 10px;

    .left {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
    .right {
      margin-left: 60px;

      .starSmall {
        width: 80px;
        img {
          @include image;
        }
      }
      .ttl {
        margin-bottom: 5px;
        font-size: 18px;
      }
    }
  }
  &__body {
    p {
      margin-bottom: 10px;
    }
  }
  &__info {
    font-size: 12px;
    text-align: right;
  }
}

// 日程
.reservationBox {
  @extend %clearfix;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $boder-color-01;

  &__left {
    float: left;
    width: 70%;
    padding-right: 10px;
    border-right: 1px solid $boder-color-01;

    .date {
      font-size: 20px;
      text-align: center;
      line-height: 1.2;
    }
    .time {
      font-size: 14px;
      text-align: center;
    }
    a {
      width: 100%;
    }
    .c-btn--Style3 {
      margin-right: 10px;
    }
  }
  &__right {
    float: right;
    width: 30%;
    text-align: center;

    .ttl {
      margin-top: 10px;
      font-size: 14px;
    }
    .participant {
      a {
        color: $color-main-blue;
      }

      &__number {
        font-size: 23px;
      }
    }
  }
}
// ご相談
.consultationBox {
  margin-top: 20px;

  &__ttl {
    font-size: 20px;
  }
  .c-btn {
    a {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
// 一緒に遊ぶ/連絡事項を見るボタン
.eventActionScroll {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: 70px;
  background: $bg-color-gray;

  a {
    position: relative;
    height: 50px;
    margin: 10px 8px;
    padding-top: 15px;
    display: block;
    border-radius: 5px;
    background: $color-sub-red;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 10px;
      height: 0;
      width: 0;
      margin: auto 0;
      border: 5px transparent solid;
      border-top-width: 3px;
      border-bottom-width: 3px;
      border-right-width: 0;
      border-left-color: #ffffff;
    }
  }
}

// フォトギャラリー
#photoGallary {
  width: 100%;
  margin-bottom: 20px;
  background: #fafafa;
}
// メイン
.mainBox {
  position: relative;
  width: 100%;
  overflow: hidden;

  .main {
    display: table;
    table-layout: fixed;
    width: 900%;
    min-height: 215px;
    max-height: 255px;
    transform: translateX(0);
  }
  .mainItem {
    display: table-cell;
    min-height: 215px;
    // max-height: 255px;
    height: 255px;
    vertical-align: middle;
    text-align: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    a {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      vertical-align: middle;
    }
    span {
      color: #397fd6;
    }
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }
}

.isTransition {
  transition: transform 500ms ease-in;
}
// サムネイル
.thumbnailsBox {
  $imageLength: 9;
  $naviWidth: 4%;
  $pageSize: 5;

  position: relative;
  width: 100%;
  padding: 2px 0;
  overflow: hidden;
  background: #ddf0f9;

  .thumbnails {
    display: table;
    table-layout: fixed;
    margin-left: $naviWidth;
    width: (100% - 2 * $naviWidth) / $pageSize * $imageLength;
    transform: translateX(0);
  }
  .thumbnailsItem {
    display: table-cell;
    padding: 3px;
    height: 37px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddf0f9;
    .inner {
      height: 100%;
      background-size: cover;
      background-position: center center;
    }
  }
  .current {
    border: 1px solid #397fd6;
  }
  .prev, .next {
    position: absolute;
    top: 0;
    width: $naviWidth;
    height: 100%;
    text-align: center;
    padding-top: 2px;
    background: #ddf0f9;
    a {
      width: 100%;
      display: inline-block;
      font-size: 18px;
      line-height: 37px;
    }
    span {
      color: $color-sub-red;
    }
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
}
