@charset "utf-8";

// メインカルーセル
.topMainArea {
  position: relative;
  text-align: center;

  &__text {
    @extend %font-40;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 715px;
    height: 105px;
    z-index: 1;
    color: #fff;
    letter-spacing: 2px;

    span {
      display: block;
      @extend %font-20;
      letter-spacing: 2px;
    }
  }
}

#mainCarousel {
  width: 100%;
  min-width: 960px;
}

// uminecoの遊び方
.aboutBox {
  position: relative;
  top: -22px;
  padding: 40px 0 40px 0;
  background: $bg-color-gray;

  &__ttl {
    width: 280px;
    margin: 0 auto 40px auto;

    img {
      @include image;
    }
  }
  &__point {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;

    li {
      display: table-cell;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }
      img {
        width: 150px;
        height: auto;
      }
    }
  }
}

// 画像リスト
.imglistwrapper {
  @extend %clearfix;
}
.c-imglistBox {
  width: 470px;
  float: left;
  margin: 0 20px 20px 0;

  &:nth-child(2n) {
    margin-right: 0;
  }
  img {
    @include image;
  }
  &__header {
    position: relative;
    height: 315px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;


    .headerInner {
      position: absolute;
      bottom: 0;
      display: table;
      table-layout: fixed;
      padding: 10px;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);

      .ttl {
        @extend %font-16;
        display: table-cell;
        color: #fff;
        vertical-align: middle;

      }
      .fbIcom {
        display: table-cell;
        width: 60px;
        img {
          width: 50px;
          height: auto;
        }
      }
    }
  }
  &__footer {
    position: relative;
    background: $bg-color-gray;
    height: 45px;
    border-radius: 0 0 5px 5px;

    .textMap {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #333333;
    }
    .textReview {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #333333;
    }
    span {
      @extend %font-18;
      display: inline-block;
      width: 20px;
      margin-right: 3px;
      text-align: center;
      vertical-align: middle;
    }
  }
}

